<table class="table">
  <thead>
    <th>Name</th>
    <th>Symbol</th>
    <th>Price</th>
    <th>Market cap</th>
    <% @exchanges.each do |exchange| %>
      <th>
        <%= exchange.name %>
      </th>
      <% end %>
        <th>Change 1h</th>
        <th>Change 24h</th>
        <th>Change 7d</th>
        <th>Cap
          <250M</th>
            <th>Cap
              <100M</th>
                <th>Cap
                  <50M</th>
  </thead>
  <tbody>
    <% @coins.each do |coin| %>
      <td>
        <a href="https://coinmarketcap.com/currencies/<%= coin.name.gsub(/ /, '-') %>/" target="_blank">
          <%= coin.name %>
        </a>
      </td>
      <td>
        <%= coin.symbol %>
      </td>
      <td>
        <%= number_to_currency(coin.price_usd) %>
      </td>
      <td>
        <%= number_to_currency(coin.market_cap_usd) %>
      </td>
      <% @exchanges.each do |exchange| %>
        <td>
          <%= @coin_exchanges[coin.id] && @coin_exchanges[coin.id].any? { |ec| ec.exchange_id == exchange.id } ? 'Yes' : 'No' %>
        </td>
        <% end %>
          <td class="<%= coin.percent_change_1h.try(:>, 0) ? 'table-success' : 'table-danger' %>">
            <%= number_to_percentage(coin.percent_change_1h) %>
          </td>
          <td class="<%= coin.percent_change_24h.try(:>, 0) ? 'table-success' : 'table-danger' %>">
            <%= number_to_percentage(coin.percent_change_24h) %>
          </td>
          <td class="<%= coin.percent_change_7d.try(:>, 0) ? 'table-success' : 'table-danger' %>">
            <%= number_to_percentage(coin.percent_change_7d) %>
          </td>
          <td class="<%= coin.market_cap_usd.try(:<, 250_000_000) ? 'table-success' : 'table-danger' %>">
            <%= coin.market_cap_usd.try(:<, 250_000_000) ? 'Yes' : 'No' %>
          </td>
          <td class="<%= coin.market_cap_usd.try(:<, 100_000_000) ? 'table-success' : 'table-danger' %>">
            <%= coin.market_cap_usd.try(:<, 100_000_000) ? 'Yes' : 'No' %>
          </td>
          <td class="<%= coin.market_cap_usd.try(:<, 50_000_000) ? 'table-success' : 'table-danger' %>">
            <%= coin.market_cap_usd.try(:<, 50_000_000) ? 'Yes' : 'No' %>
          </td>
          </tr>
          <% end %>
  </tbody>
</table>

<script>
  $('.table').DataTable({
    scrollY: '100vh',
    scrollCollapse: true,
    paging: false
  });
</script>
